html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: table;
}

#starter {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
}