body {
    margin: 0px;
}

#header {
    display: flex;
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0px;
    background: rgba(100, 100, 255, 0.5);
}

#header-text {
    display: inline;
    font-size: 30px;
    align-self: center;
    margin-left: 10px;
}

#hamburger {
    display: none;
    align-self: center;
    font-size: 30px;
    border-left: 1px solid black;
    margin-left: 10px;
    padding-left: 10px;
    cursor: pointer;
}

#first-text {
    background-color: cyan;
}

#second-text {
    background-color: lime;
}

#third-text {
    background-color: yellow;
}

a.button {
    text-decoration: none;
    border: 2px solid black;
    display: block;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 1px 3px #eaeaea;
    cursor: pointer;
}

a.button:hover {
    background-color: #cbfffd;
}

#content {
    z-index: -1;
}

.small {
    height: 250px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 32px;
    position: fixed;
    bottom: 0px;
}

#footer>p {
    margin: 8px;
    color: white;
    font: bold 16px arial;
}

#sidebar {
    background-color: rgb(255, 0, 0);
    top: 64px;
    bottom: 32px;
    width: 200px;
    overflow: scroll;
    position: fixed;
}

#content {
    left: 20%;
    top: 75px;
    bottom: 32px;
    position: fixed;
    overflow: scroll;
    width: 80%;
}

@media only screen and (max-width: 399px) {
    #hamburger {
        display: inline;
    }
    .hiddenSidebar {
        display: none;
    }
    .shownSidebar {
        display: block;
    }
}